<template id="habit-template">
  <div class="habit-section mb-5 border p-3 rounded" data-habit-name="">
    <div class="d-flex justify-content-between">
      <h3 class="habit-title"></h3>
      <button class="btn btn-danger btn-sm delete-habit mb-3">Delete</button>
    </div>
    <div class="heatmap-wrapper mb-3">
      <div class="heatmap"></div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-warning clear-log btn-lg px-5">-1</button>
      <div class="d-flex align-items-center justify-content-center flex-grow-1">
        <button class="btn btn-outline-secondary previous-day">◀</button>
        <h5 class="day-label px-3 m-0">Today</h5>
        <button class="btn btn-outline-secondary next-day">▶</button>
      </div>
      <button class="btn btn-success log-habit btn-lg px-5">+1</button>
    </div>
  </div>
</template>
