<template id="habit-template">
  <div
    class="habit-section mb-5 border border-dark p-3 rounded"
    data-habit-name=""
  >
    <div class="d-flex justify-content-between">
      <div class="mb-3">
        <h3 class="habit-title mb-0"></h3>
        <small class="text-secondary streak-text"></small>
      </div>
      <button
        class="btn btn-primary btn-sm edit-habit mb-3 align-self-center"
        data-bs-toggle="popover"
        data-bs-placement="left"
        data-bs-html="true"
        data-bs-content='
          <div class="edit-habit-popover">
            <div class="mb-3">
              <input type="text" class="form-control rename-habit-input" placeholder="New name">
            </div>
            <div class="d-flex justify-content-between">
              <button class="btn btn-danger delete-habit">Delete</button>
              <button class="btn btn-primary rename-habit">Rename</button>
            </div>
          </div>'
      >
        Edit
      </button>
    </div>
    <div class="heatmap-wrapper mb-3">
      <div class="heatmap"></div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-warning clear-log btn-lg">-</button>
      <div class="d-flex align-items-center justify-content-center flex-grow-1">
        <button class="btn btn-outline-secondary previous-day">◀</button>
        <h5 class="day-label px-3 m-0">Today</h5>
        <button class="btn btn-outline-secondary next-day">▶</button>
      </div>
      <button class="btn btn-success log-habit btn-lg">+</button>
    </div>
  </div>
</template>
